/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #CF8B31;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #CF8B31;
    font-size: 38px
}

button:hover {
    box-shadow: 0px 0px 10px #CF8B31;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a:hover {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    transform: scale(1.05);
}

header a:hover {
    color: #A57D4F;
    text-decoration: none;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

.topo-do-site h1 {
    color: white;
    font-size: 52px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #eb8f17;
    margin-left: 160px;
    font-size: 52px;
}

.ponto-final {
    margin-right: -150px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0px;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

span .texto-plastico {
    text-align: center;
}

.sobre-empresa {
   text-align: justify;
}

.topo-do-site .img-topo-site img {
    position: relative;
    /* animation: flutuar 2s ease-in-out infinite alternate; */
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .img-topo-site img:hover {
    box-shadow: 0px 0px 20px #ffc772;
    transform: scale(1.05);
    transition: .5s;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}


/* ESTILO ESPECIALIDADES */

/* section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades-box {
    color: white;
    padding: 50px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 25px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px hsla(359, 19%, 50%, 0.766);
} */



.imagem-thelion {
    border-radius: 30px;
}


/* 
.especialidades .especialidades-box i {
    font-size: 70px;
    /* color: #CF8B31; */
/* } */

/* .especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}
/*  */
 

/* ESTILO SOBRE */
/* 
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #CF8B31;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #CF8B31;
    font-size: 22px;
    margin: 0 5px;
    cursor: pointer;
    transition: 2s;    
}

.interface .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #CF8B31;
    font-size: 22px;
    margin: 0 5px;
    cursor: pointer;
    transition: 2s;
    justify-content: space-around;
    margin-left: 200px;
} */

/* ESTILO DO PORTIFÓLIO */
/* 
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d; 
}

.img-port {
    width: 460px;
    height: 400px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border: 2px solid #CF8B31;
    margin: 0 60px;
}

.img-horizontal {
    margin-top: 50px;
}

.top-text-about-site {
    color: #CF8B31;
}

section.portifolio .top-text-about-site {
    color: #CF8B31;
    justify-content: space-around;
    margin-top: 100px;
    padding-left: 100px;
}

section.portifolio .text-about-site {
    color: #fff;
    justify-content: space-around;
    padding-left: 100px;
}    */